*.orig
*.rej
*~
*.o
*.so
*.os
*.pyo
*.pyc
*.log
.sconf_temp/*
.sconsign.dblite
*.dylib
.DS_Store
python/mineAsahi/**/article*.txt
python/jptools-pyrex/src/*.c
python/pyrex-primes/primes.c
build
dist
*.swp
mercury/*.{c,d,dep,err,c_date,dv,mh,mih,s_date}
c/tokenize/tokenize
c/gc/example_gc
c/fork/fork
c++/bool/boolTest
c++/testMysql/main
c++/typeSizes/typeSizes
c++/locales/main
c++/io/io
c++/bitset/tester
c++/reverse/reverse
c++/fib/fib
c++/sieve/sieve
c++/tr1/tr1
c++/linkedSort/linkedSort
c++/nasty/nasty
c++/foksTest/{readWords,tester}
c++/omp-hello/hello
c++/omp-taylor/{taylor,taylor_mp}
c++/omp-lineareq/lineareq{,_mp}
c++/pthread/example
c++/tokenizer/tokenizer
c++/stl-map/testMap
c++/from_timestamp/from_timestamp
objective-c/*/build
javascript/dojo/dojoroot
MANIFEST
*.deb
haskell/parallel/simplepar
haskell/hello/hello
haskell/cat/cat
haskell/wc/wc
haskell/reverse/reverse
haskell/cp/cp
haskell/spell/spell
haskell/file_sum/file_sum
*.hi
*.class
*.jar
*.6
go/hello
go/echo
haxe/js/test/test.js
haxe/js/ajax/test.js
go/freq/example
go/echo/echo
go/hello/hello
go/hashmap/example
go/tokenizer/tokenize
go/tokenizer/tokenize_vector
go/tokenizer/tokenize_fast
go/sieve/sieve
c++/io-bench/read_lines_c
c++/io-bench/read_lines_cpp
tmp
scala/sbt-example/target
scala/sbt-example/project/boot
target
chicken/hello/hello
chicken/**/*.c
c++/opencv/camera
go/gowiki/pages
go/gowiki/wiki
haskell/todo/todo
haskell/todo/todo.txt
haskell/cat/cat-string
haskell/cat/cat-bytestring
haskell/cp/cp-strict
haskell/cp/cp-lazy
